{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block body %}
    <h1>Member</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Registration_date</th>
                <td>{{ member.registrationDate ? member.registrationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Biography</th>
                <td>{{ member.biography }}</td>
            </tr>
            <tr>
                <th>Reputation</th>
                <td>{{ member.reputation }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ member.country }}</td>
            </tr>
            <tr>
                <th>Valideted</th>
                <td>{{ member.valideted }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_member_index') }}">back to list</a>

    <a href="{{ path('app_member_edit', {'id': member.id}) }}">edit</a>

    {{ include('member/_delete_form.html.twig') }}
{% endblock %}
